/***** Imports ****/
/* load boostrap and make layout responsive */
@import url('../bootstrap/less/bootstrap.less');
@import url('../bootstrap/less/responsive.less');

/***** Common ****/

body {
    background : #fff url('../img/white_paper_texture_background_seamless_pattern.jpg') top left repeat fixed;
}

h1, h2, h3, h4, h5, h6 {
    text-shadow : 0 -1px 0 #ddd, 0 1px 0 #fff; // Letterpress effect
    font-family : Baskerville, Georgia, "Times New Roman", sans-serif;
}

/***** Top Menu ****/

#top-menu {
    background  : @navbarBackground;
    color       : @navbarText;
    height      : auto;
    font-size   : inherit;
    padding     : 0;
    text-shadow : 0 1px 0 @navbarBackgroundHighlight;
    a {
        color        : @navbarLinkColor;
        margin-right : 0;
        &:hover { color : @navbarLinkColorHover; }
        &.brand {
            float : right;
            color : @navbarBrandColor;
        }
    }
    #account, #loggedas { float : right; }
    #loggedas {
        color   : @navbarText;
        padding : 10px 15px 10px;
    }
    ul.nav {
        margin : 0 10px 0 0;
    }
}

/***** Header ****/

#header {
    h1 {
        background  : transparent url('../img/logo_small.png') 10px -10px no-repeat;
        text-shadow : 0 -1px 0 darken(@ah_lblue, 15%), 0 1px 0 lighten(@ah_lblue, 15%) /* Letterpress effect */;
        padding     : 20px 10px 20px 150px;
    }
}

#quick-search {
    & > select, .form-search {
        float  : right;
        margin : 6px;
    }
    .form-search {
        label { display : none; }
    }
}

#main-menu {
    a {
        background-color : @white;
        margin-right     : 10px;
        &:hover {
            background-color : #eee;
        }
        &.selected {
            background-color : @ah_blue;
            color            : @white;
        }
    }
}

/***** Main ****/

#main {
    background-color : #fff;
    border-bottom    : @ah_blue 2px solid;
    border-top       : @ah_blue 2px solid;
    box-shadow       : inset 0 1px 0 #fff, 0 1px 5px rgba(0, 0, 0, .1);
    padding          : 1em 20px;
}

#content {
    .contextual {
        float : right;
    }
    .noleftmargin { margin-left : 0; }
}

#sidebar {
    form {
        input[type="checkbox"] {
            margin : 0 0 5px 0;
        }
        label {
            display : inline-block;
        }
    }
}

/***** Footer ****/

#footer {
    text-align : center;
}

/***** Utilities ****/
.well {
    border : @ah_orange;
    h3 { margin-top : 0; }
}

fieldset.collapsible {
    &.collapsed legend { }
    legend { }
}

dt {
    &.attachment { }
}

span.search_for_watchers, span.add_attachment {
    a { }
}

button {
    &.tab-left { }
    &.tab-right { }
}

tr {
    &.project {
        &.idnt td.name span {
        }
    }
    &.issue {
        &.idnt td.subject a {
        }
    }
    span.expander { }
    &.open span.expander { }
}

/***** Media Queries ****/

@media (max-width: 767px) {
}

@media (max-width: 768px) {
    #header, #footer {
    }

    #main {
        margin-right : -20px;
        margin-left  : -20px;
    }

    #main-menu {
        position           : static;
        top                : auto;
        z-index            : auto;
        width              : auto;
        height             : auto;
        -webkit-box-shadow : none;
        -moz-box-shadow    : none;
        box-shadow         : none;
        & .nav {
            .border-radius(4px);
            background : #fff; /* whole background property since we use a background-image for gradient */
            border     : 1px solid #e5e5e5;
            & > li {
                float : none;
                & > a {
                    border : 0;
                    .border-radius(0);
                }
                & + li > a {
                    border-top : 1px solid #e5e5e5;
                }
                &:first-child > a,
                &:first-child > a:hover {
                    -webkit-border-radius : 4px 4px 0 0;
                    -moz-border-radius    : 4px 4px 0 0;
                    border-radius         : 4px 4px 0 0;
                }
            }
        }
    }
}

@media (max-width: 979px) {
    #top-menu { margin-bottom : 0; }
}

@media (min-width: 980px) {
    #header { margin-top : 40px; /* same as top-menu */ }
}