/***** Imports ****/
/* load boostrap and make layout responsive */
@import url('../bootstrap/less/bootstrap.less');
@import url('../bootstrap/less/responsive.less');

/***** Variables *****/

/***** Mixins *****/
.word-break(){
    -ms-word-break  : break-all;
    word-break      : break-all;
    word-break      : break-word; // Non standard for webkit
    -webkit-hyphens : auto;
    -moz-hyphens    : auto;
    hyphens         : auto;
}

/***** Common ****/

body {
    background : #fff url('../img/white_paper_texture_background_seamless_pattern.jpg') top left repeat fixed;
}

h1, h2, h3, h4, h5, h6 {
    text-shadow : 0 -1px 0 #ddd, 0 1px 0 #fff; // Letterpress effect
    font-family : Baskerville, Georgia, "Times New Roman", sans-serif;
}

/***** Top Menu ****/

#top-menu {
    background    : @navbarBackground;
    color         : @navbarText;
    height        : auto;
    font-size     : inherit;
    padding       : 0;
    text-shadow   : 0 1px 0 @navbarBackgroundHighlight;
    .box-shadow(0 1px 5px rgba(0, 0, 0, .6));
    border-top    : 2px solid lighten(@navbarBackground, 5%);
    border-bottom : 2px solid darken(@navbarBackground, 5%);
    a {
        color        : @navbarLinkColor;
        margin-right : 0;
        &:hover { color : @navbarLinkColorHover; }
        &.brand {
            float   : right;
            color   : @navbarBrandColor;
            padding : 5px 20px;
        }
    }
    #account, #loggedas { float : right; }
    #loggedas {
        color   : @navbarText;
        padding : 5px 15px 5px;
    }
    ul {
        list-style : none outside none;
        display    : block;
        float      : left;
        left       : 0px;
        position   : relative;
        & > li { float : left; }
        &.nav {
            margin : 0 10px 0 0;
            li a {
                padding             : 5px 10px 5px 36px;
                background-position : 10px 50%;
                background-repeat   : no-repeat;
                &.home { background-image : url("../img/top-menu-icons/home.png"); }
                &.my-page { background-image : url("../img/top-menu-icons/page.png"); }
                &.projects { background-image : url("../img/top-menu-icons/wallet.png"); }
                &.administration { background-image : url("../img/top-menu-icons/admin.png"); }
                &.help { background-image : url("../img/top-menu-icons/help.png"); }
                &.logout { background-image : url("../img/top-menu-icons/eject.png"); }
                &.my-account { background-image : url("../img/top-menu-icons/account.png"); }
            }
        }
    }
}

/***** Header ****/

#header {
    h1 {
        background  : transparent url('../img/logo_small.png') 10px -20px no-repeat;
        text-shadow : 0 -1px 0 @grayLight, 0 1px 0 @white /* Letterpress effect */;
        padding     : 10px 10px 10px 150px;
    }
}

#quick-search {
    margin : 1em auto;
    & > select, .form-search {
        float  : right;
        margin : 6px;
    }
    .form-search {
        label { display : none; }
    }
}

#main-menu {
    a {
        background-color : @white;
        margin-right     : 10px;
        .box-shadow(0 0 5px rgba(0,0,0,.1));
        &:hover {
            background-color : #eee;
        }
        &.selected {
            background-color : @ah_blue;
            color            : @white;
        }
    }
    .nav { margin-bottom : 10px; }
}

/***** Main ****/

#main {
    background-color   : #fff;
    border-bottom      : @ah_blue 2px solid;
    border-top         : @ah_blue 2px solid;
    -moz-box-shadow    : inset 0 1px 0 #fff, 0 1px 5px rgba(0, 0, 0, .1);
    -webkit-box-shadow : inset 0 1px 0 #fff, 0 1px 5px rgba(0, 0, 0, .1);
    box-shadow         : inset 0 1px 0 #fff, 0 1px 5px rgba(0, 0, 0, .1);
    padding            : 10px 20px;
}

#content {
    .noleftmargin { margin-left : 0; }
    .tabs {
        position      : relative;
        overflow      : hidden;
        height        : 2.6em;
        border-bottom : 1px solid @ah_orange;
        margin-bottom : 1em;
        ul {
            position     : absolute;
            margin       : 0;
            bottom       : 0;
            width        : 88%;
            padding-left : .5em;
            height       : 2.6em;
            li {
                position        : relative;
                float           : left;
                list-style-type : none;
                margin-right    : 1em;
                white-space     : nowrap;
                background      : @white;
                a {
                    display             : block;
                    border              : @ah_orange solid 1px;
                    border-bottom-color : @white;
                    .border-radius(3px 3px 0 0);
                    font-weight         : bold;
                    text-decoration     : none;
                    padding             : .5em 1em;
                    &:hover {
                        text-decoration : none;
                    }
                    &.selected {
                        #gradient > .vertical(lighten(@ah_orange, 10%), @ah_orange);
                        text-shadow         : 0 -1px 0 darken(@ah_orange, 10%), 0 1px 0 fade(@white, 50%) /* Letterpress effect */;
                        border-bottom-color : @ah_orange;
                        color               : @white;
                        &:hover {
                            text-shadow : none;
                        }
                    }
                }
            }
        }
        div.tabs-buttons {
            position : absolute;
            right    : 0;
            bottom   : 0;
            width    : 65px;
            height   : 36px;
        }
    }
    div:not(.well) > h3 {
        padding-top : 10px;
        border-top  : 1px solid @ah_lbeige;
    }
}

#sidebar {
    h3 {
        border-bottom  : 1px solid @ah_orange;
        padding-bottom : 6px;
    }
    h4 { margin-top : 1.6em; }
    hr { }
    .contextual { }
    form {
        label {
            display : inline-block;
        }
    }
}

/***** Footer ****/

#footer {
    text-align : center;
    margin     : 1em auto;
    font-size  : .9em;
}

/***** Bootstrap cutsomization ****/
.well {
    border-color : @ah_orange;
    h3 { margin-top : 0; }
    & > legend {
        margin-bottom : 0;
        border        : none;
        padding       : 0 1em;
        width         : auto;
    }
}

/***** Redmine generated elements ****/

#admin-menu {
    ul { margin : 0; }
    li { list-style : none; padding : 0 0 6px 0; margin : 0; }
    a {
        background-position : 0 40%;
        background-repeat   : no-repeat;
        padding             : 2px 0 3px 20px;
        &.projects { background-image : url(../img/icons/projects.png); }
        &.users { background-image : url(../img/icons/user.png); }
        &.groups { background-image : url(../img/icons/group.png); }
        &.roles { background-image : url(../img/icons/database_key.png); }
        &.trackers { background-image : url(../img/icons/ticket.png); }
        &.issue_statuses { background-image : url(../img/icons/ticket_edit.png); }
        &.workflows { background-image : url(../img/icons/ticket_go.png); }
        &.custom_fields { background-image : url(../img/icons/textfield.png); }
        &.enumerations { background-image : url(../img/icons/text_list_bullets.png); }
        &.settings { background-image : url(../img/icons/changeset.png); }
        &.plugins { background-image : url(../img/icons/plugin.png); }
        &.info { background-image : url(../img/icons/help.png); }
        &.server_authentication { background-image : url(../img/icons/server_key.png); }
    }
}

#login-form {
    table {
        margin : 1em auto;
        tr {
            td:first-child { padding-right : 1em; }
            &:last-of-type > td { padding-top : 1em; }
        }
    }
}

.clear:after { }

a {
    img { border : none; }
    &.issue.closed, &.issue.closed:link, &.issue.closed:visited, &#toggle-completed-versions { color : @grayLight; text-decoration : line-through; }
    &.project.closed, &.project.closed:link, &.project.closed:visited { color : @grayLight; }
    &.collapsible {
        background : url(../img/icons/arrow_expanded.png) no-repeat -3px 40%;
        &.collapsed { background : url(../img/icons/arrow_collapsed.png) no-repeat -5px 40%; }
    }
    &.sort {
        background-position : 100% 50%;
        background-repeat   : no-repeat;
        padding-right       : 16px;
        &.asc { background-image : url(../img/icons/sort_asc.png); }
        &.desc { background-image : url(../img/icons/sort_desc.png); }
    }
    &.atom {
        background : url(../img/icons/feed.png) no-repeat 1px 50%; padding : 2px 0px 3px 16px;
    }
    &.wiki-anchor {
        &:hover { }
    }
    &.close-icon {
        display    : block;
        margin-top : 3px;
        overflow   : hidden;
        width      : 12px;
        height     : 12px;
        background : transparent url("../img/icons/close.png") center center no-repeat;
        &:hover {
            background-image : url("../img/icons/close_hl.png");
        }
    }
}

em {
    &.info {
        color     : @gray;
        font-size : .9em;
        &.error {
            padding-left : 20px; background : url(../img/icons/exclamation.png) no-repeat 0 50%;
        }
    }
}

/* Tables */
table {
    thead th {
        #gradient > .vertical(lighten(@ah_lbeige, 15%), lighten(@ah_lbeige, 10%));
        text-shadow : 0 -1px 0 @grayLighter, 0 1px 0 @white; // Letterpress effect
    }
    &#time-report {
        td.hours { }
        th {
            &.period { }
            &.total { }
        }
        tr {
            &.subtotal {
                td.hours { }
            }
            &.total { }
        }
        .hours-dec { }
    }
    &.list {
        width : 100%;
        th { text-align : center; }
        td {
            vertical-align : middle;
            &.id {
                width      : 2%;
                word-break : normal;
                text-align : center;
            }
            &.checkbox {
                width      : 15px;
                text-align : center;
                input {
                    margin : 0;
                }
            }
            &.buttons {
                a { }
            }
        }
        caption { }
    }
    &.files {
        tr {
            &.file {
                td {
                    &.filename { }
                    &.digest { }
                }
            }
        }
    }
    &.members {
        td {
            &.roles { }
            &.group { padding-left : 20px; background : url(../img/icons/group.png) no-repeat 0% 50%; }
        }
    }
    &.membership {
        td {
            &.roles { }
        }
    }
    &.permissions {
        td.role { color : @grayLight; }
    }
    &.plugins {
        td {
            &.configure { }
        }
        span {
            &.name { }
            &.description { }
            &.url { }
        }
    }
    &.list {
        tbody {
            tr {
                &.group {
                    &:hover { }
                    td { }
                    span.count { color : @grayLight; }
                }
                &:hover { }
            }
        }
    }
    &.attributes {
        th { }
        td { }
    }
    &.boards {
        a.board { background : url(../img/icons/comment.png) no-repeat 0% 50%; padding-left : 20px; }
        td {
            &.topic-count { }
            &.message-count { }
            &.last-message { }
            &.author { }
            &.created_on { }
            &.reply-count { }
        }
    }
    &.query-columns {
        text-align : center;
        br { display : none; }
        td.buttons {
            width : 60px;
            input[type="button"] { margin : 5px 10px; }
        }
    }
    &.transitions {
        td.enabled { background-color : @successBackground; }
    }
    &.fields_permissions {
        select { }
        td {
            &.readonly { background-color : @grayLighter; }
            &.required { background-color : @errorBackground; }
        }
    }
    &.cal {
        border-collapse : collapse;
        width           : 100%;
        border          : lighten(@ah_orange, 20%) solid 1px;
        margin          : 0 0 .5em 0;
        thead th {
            width   : 100% / 7;
            padding : .3em;
            .word-break;
            &.week-number { width : auto; }
        }
        tbody tr { height : 100px; }
        td {
            border         : lighten(@ah_orange, 20%) solid 1px;
            vertical-align : top;
            font-size      : .9em;
            &.week-number {
                background-color : lighten(@ah_lbeige, 10%);
                border           : none;
                font-size        : 1em;
                padding          : .3em;
                vertical-align   : middle;
                text-align       : center;
                text-shadow      : 0 -1px 0 @grayLighter, 0 1px 0 @white; // Letterpress effect
            }
            &.odd {
                background-color : @grayLighter;
                p.day-num { color : @grayLight; }
            }
            &.today {
                #gradient > .vertical(lighten(@yellow, 40%), lighten(@yellow, 35%));
                p.day-num {
                    font-weight : bold;
                    text-shadow : 0 -1px 0 @grayLighter, 0 1px 0 @white; // Letterpress effect
                }
            }
            p.day-num {
                text-align : right;
                font-size  : 1.1em;
                margin     : .2em;
            }
        }
        .starting a {
            background   : url(../img/icons/bullet_go.png) no-repeat -1px -2px;
            padding-left : 16px;
        }
        .ending  a {
            background   : url(../img/icons/bullet_end.png) no-repeat -1px -2px;
            padding-left : 16px;
        }
        .starting.ending a {
            background   : url(../img/icons/bullet_diamond.png) no-repeat -1px -2px;
            padding-left : 16px;
        }
    }
    &.progress {
        margin          : 5px auto;
        border-spacing  : 0;
        empty-cells     : show;
        text-align      : center;
        border-collapse : collapse;
        td {
            &.bar { height : 20px; }
            &.closed { background-color : @successText !important; }
            &.done { background-color : @successBorder !important; }
            &.todo { background-color : @successBackground !important; }
        }
    }
    &.revision-info {
        width         : auto;
        margin-bottom : 10px;
        td { padding : 2px 5px !important; }
    }
    td { }
    p { }
}

tr {
    &.project {
        td.name a { }
        &.closed, &.archived {
            color : @grayLight;
            a { color : @grayLight; }
        }
        &.idnt td.name span {
            background   : url('../img/icons/bullet_arrow_right.png') 0 50% no-repeat;
            padding-left : 16px;
        }
        &.idnt-1 td.name { padding-left : 0.5em; }
        &.idnt-2 td.name { padding-left : 2em; }
        &.idnt-3 td.name { padding-left : 3.5em; }
        &.idnt-4 td.name { padding-left : 5em; }
        &.idnt-5 td.name { padding-left : 6.5em; }
        &.idnt-6 td.name { padding-left : 8em; }
        &.idnt-7 td.name { padding-left : 9.5em; }
        &.idnt-8 td.name { padding-left : 11em; }
        &.idnt-9 td.name { padding-left : 12.5em; }
    }
    &.issue {
        td {
            &.subject, &.category, &.string, &.text { white-space : normal; }
            &.subject { }
            &.done_ratio table.progres { }
        }
        &.idnt td.subject a { background : url(../img/icons/bullet_arrow_right.png) no-repeat 0 50%; padding-left : 16px;
        }
        &.idnt-1 td.subject { padding-left : 0.5em; }
        &.idnt-2 td.subject { padding-left : 2em; }
        &.idnt-3 td.subject { padding-left : 3.5em; }
        &.idnt-4 td.subject { padding-left : 5em; }
        &.idnt-5 td.subject { padding-left : 6.5em; }
        &.idnt-6 td.subject { padding-left : 8em; }
        &.idnt-7 td.subject { padding-left : 9.5em; }
        &.idnt-8 td.subject { padding-left : 11em; }
        &.idnt-9 td.subject { padding-left : 12.5em; }
    }
    &.entry {
        font-size : .9em;
        td {
            white-space : nowrap;
            &.filename { width : 30%; }
            &.filename_no_report { width : 70%; }
            &.size { text-align : right; }
            &.revision { text-align : center; }
            &.author { text-align : center; }
            &.age { text-align : right; }
        }
        &.file {
            td {
                &.filename a { margin-left : 20px; }
                &.filename_no_report a { margin-left : 20px; }
            }
        }
    }
    span.expander {
        background-image    : url('../img/icons/bullet_toggle_plus.png');
        background-position : 2px 40%;
        margin-left         : 0;
        padding-left        : 10px;
        cursor              : pointer;
    }
    &.open span.expander { background-image : url('../img/icons/bullet_toggle_minus.png'); }
    &.changeset {
        font-size : .9em;
        ul, ol { }
        td {
            &.revision_graph {
                background-color : lighten(@ah_lbeige, 10%);
                width            : 15%;
            }
            &.author, &.committed_on {
                text-align  : center;
                white-space : nowrap;
                width       : 15%;
            }
            &.comments p { margin : 0; }
        }
    }
    &.message {
        td {
            &.subject { }
            &.created_on { }
            &.last_message { }
        }
        &.locked {
            td {
                &.subject { background : url(../img/icons/locked.png) no-repeat 0 1px; }
            }

        }
        &.sticky {
            td {
                &.subject { background : url(../img/icons/bullet_go.png) no-repeat 0 1px; }
            }
        }
    }
    &.version {
        &.closed {
            color : @grayLight;
            a { color : @grayLight; }
        }
        &.shared {
            td.name { background : url(../img/icons/link.png) no-repeat 0% 70%; }
        }
        td {
            &.name { }
            &.date { }
            &.status { }
            &.sharing { }
        }
    }
    &.user {
        td {
            &.email { }
        }
        &.locked, &.registered {
            color : @grayLight;
            a { color : @grayLight; }
        }
    }
    &.wiki-page-version {
        td {
            &.updated_on { }
            &.author { }
        }
    }
    &.time-entry {
        td {
            &.subject { }
            &.comments { }
        }
    }
    &.group {
        a.toggle-all { display : inline; }
        &:hover a.toggle-all { text-decoration : none; }
    }
}

td {
    .word-break();
    &.hours {
        .hour-dec { }
    }
    &.assigned_to { white-space : normal; }
    &.center, &[align="center"] { text-align : center; }
    &.username {
        img.gravatar {
            margin         : 0 .5em 0 0;
            vertical-align : top;
        }
    }
}
.odd { }
.even { }

h2 {
    border-bottom  : @ah_orange double 3px;
    margin-bottom  : 15px;
    padding-bottom : 5px;
    img {
        vertical-align : middle;
        &.gravatar { margin : -7px 10px 0 0; }
    }
}
h3 {
    &.comments { background : url(../img/icons/comment.png) no-repeat 0% 50%; padding-left : 20px; }
    &.version { background : url(../img/icons/package.png) no-repeat 0% 50%; padding-left : 20px; }
    img.gravatar { margin : -4px 4px -4px 0; }
}
h4 {
    img.gravatar { margin : -6px 4px -4px 0; }
}

div.issues h3 { background : url(../img/icons/ticket.png) no-repeat 0% 50%; padding-left : 20px; }
div.members h3 { background : url(../img/icons/group.png) no-repeat 0% 50%; padding-left : 20px; }
div.news h3 { background : url(../img/icons/news.png) no-repeat 0% 50%; padding-left : 20px; }
div.projects h3 { background : url(../img/icons/projects.png) no-repeat 0% 50%; padding-left : 20px; }

#watchers {
    ul { }
    li { }
    select { }
    a.delete {
        opacity : .4;
        &:hover { opacity : 1; }
    }
    img.gravatar { }
}
span#watchers_inputs { }
span.search_for_watchers {
    a { padding-left : 16px; background : url(../img/icons/bullet_add.png) no-repeat 0 50%; }
}
span.add_attachment {
    a { padding-left : 16px; background : url(../img/icons/bullet_add.png) no-repeat 0 50%; }
}
#users_for_watcher {
    label { }
}

.highlight {
    &.token-1 { background-color : @warningBackground; }
    &.token-1 { background-color : @errorBackground; }
    &.token-2 { background-color : @successBackground; }
    &.token-3 { background-color : @infoBackground; }
}

.contextual {
    float        : right;
    white-space  : nowrap;
    line-height  : 1.4em;
    margin-top   : 20px;
    padding-left : 5px;
    font-size    : .9em;
    form, label { display : inline-block; }
    a { margin-left : 5px; }
}
.message .contextual { margin-top : 0; }

.splitcontent { }
.splitcontentleft { }
.splicontentright { }

legend { }
hr { }
blockquote {
    blockquote { }
}
acronym { }
li p { }
p {
    &.breadcrumb { }
    &.subtitle { }
    &.footnote { }
    &.pagination { }
    &.other-formats {
        text-align : right;
        font-size  : .9em;
        color      : @gray;
    }
    &.cal.legend {
        .starting {
            background   : url(../img/icons/bullet_go.png) no-repeat -1px -2px;
            padding-left : 16px;
        }
        .ending {
            background   : url(../img/icons/bullet_end.png) no-repeat -1px -2px;
            padding-left : 16px;
        }
        .starting.ending {
            background   : url(../img/icons/bullet_diamond.png) no-repeat -1px -2px;
            padding-left : 16px;
        }
        span { display : block; }
    }
    &.pourcent { margin : 0; }
    &.progress-info { }
}

.pagination { }

#issue_tree {
    table.issues { }
    td.checkbox { }
}
#relations {
    table.issues { }
    td {
        &.checkbox { }
        &.buttons { }
    }
}
#related-issues li img { }

.toggle-multiselect {
    background   : transparent url("../img/icons/bullet_toggle_plus.png") 0 40% no-repeat;
    padding-left : 8px;
    margin-left  : 0;
    cursor       : pointer;
}
.buttons {
    font-size : .9em;
    margin    : 2em auto;
    .btn { margin-right : 1em;
        a { padding-top : 5px; }
        &:hover { text-decoration : none; }
    }
}

.journal {
    ul.details img { }
}
.journal-link { }

dt {
    &.issue { background-image : url(../img/icons/ticket.png); }
    &.issue-edit { background-image : url(../img/icons/ticket_edit.png); }
    &.issue-closed { background-image : url(../img/icons/ticket_checked.png); }
    &.issue-note { background-image : url(../img/icons/ticket_note.png); }
    &.changeset { background-image : url(../img/icons/changeset.png); }
    &.news { background-image : url(../img/icons/news.png); }
    &.message { background-image : url(../img/icons/message.png); }
    &.reply { background-image : url(../img/icons/comments.png); }
    &.wiki-page { background-image : url(../img/icons/wiki_edit.png); }
    &.attachment { background-image : url(../img/icons/attachment.png); }
    &.document { background-image : url(../img/icons/document.png); }
    &.project { background-image : url(../img/icons/projects.png); }
    &.time-entry { background-image : url(../img/icons/time.png); }
}

div {
    &.square { }
    &.modal {
        h3.title { }
        p.buttons { }
    }
    &.issue {
        border  : 1px solid @ah_beige;
        #gradient > .vertical (lighten(@ah_lbeige, 11%),lighten(@ah_lbeige, 10%));
        padding : 10px;
        .border-radius(4px);
        div.subject {
            div div { }
            p { }
            & > div > p { }
            h3 { margin : 0; }
        }
        p.author { font-size : .9em; }
        span.private { }
        .next-prev-links {
            font-size : .9em;
            color     : @grayLight;
        }
        table {
            img.gravatar { }
            &.attributes {
                text-align : left;
                width      : 100%;
                th { width : 22%; }
                td { width : 28%; }
                td.progress, th.progress {
                    background : transparent;
                    border     : none;
                    .box-shadow(none);
                    table.progress {
                        float  : left;
                        margin : 0 10px 0 0;
                    }
                }
            }
        }
        img.gravatar {
            float   : left;
            padding : 5px;
            margin  : 0 10px 0 0;
        }
        .contextual { margin-top : 0; }
    }
    &.wiki {
        table { }
        td { }
        th { }
        .noborder {
            border : 0;
            td, th { border : 0; }
        }
        .external {
            background   : transparent url("../img/icons/external.png") 0 60% no-repeat;
            padding-left : 12px;
        }
        a.new { color : @red; }
        ul {
            &.toc {
                &.right { }
                &.left { }
                ul { }
                li {
                    li {
                        li { }
                    }
                }
                a {
                    &:hover { }
                }
            }
        }
        ol { }
        pre { }
        img { }
    }
    &.wiki-page {
        .contextual {
            a {
                opacity : .4;
                &:hover { opacity : 1; }
            }
        }
    }
    &.attachment {
        p { }
        img { }
        span.author { }
    }
    &.thumbnails {
        div { }
        img { }
    }
    &.flash {
        padding : 1em 1em 1em 40px;
        &.error {
            background       : url(../img/icons/exclamation.png) 15px 50% no-repeat;
            color            : @errorText;
            background-color : @errorBackground;
            border-color     : @errorBorder;
        }
        &.notice {
            background       : url(../img/icons/true.png) 15px 50% no-repeat;
            color            : @successText;
            background-color : @successBackground;
            border-color     : @successBorder;
            a { color : @ah_orange;
                &:hover { color : @ah_blue; }
            }
        }
        &.warning {
            background       : url(../img/icons/warning.png) 15px 50% no-repeat;
            color            : @warningText;
            background-color : @warningBackground;
            border-color     : @warningBorder;
        }
    }
    &.tooltip:hover span.tip { }
    &#issue-changesets {
        div.changeset { }
        p { }
    }
    &#search-results {
        margin-left : 1em;
        dd {
            margin-bottom : 1em;
            padding-left  : 18px;
            font-size     : .9em;
            .description { font-style : italic; }
        }
        dt {
            background-position : 0 50%;
            background-repeat   : no-repeat;
            padding-left        : 20px;
            line-height         : 1.5;
            &.issue.closed { background-image : url(../img/icons/ticket_checked.png); }
        }
        span.project:after { content : " -"; }
        span.description {
            display : block;
            color   : @grayLight;
        }
    }
    &#activity {
        dl { margin-left : 1em; }
        dd {
            margin-bottom : 1em;
            padding-left  : 18px;
            font-size     : .9em;
            .description { font-style : italic; }
            span.description {
                display : block;
                color   : @grayLight;
            }
        }
        dt {
            clear               : left;
            background-position : 0 50%;
            background-repeat   : no-repeat;
            padding-left        : 20px;
            line-height         : 1.5em;
            img.gravatar { float : left; margin : 0 1em 1em 0; }
            &.me .time { border-bottom : 1px solid @ah_lblue; }
            .time {
                color     : @ah_lblue;
                font-size : .9em;
            }
        }
        span {
            .project:after { content : " -"; }
        }
    }
    &#search-results-count {
        ul { }
        li { }
    }
    &#roadmap {
        .related-issues {
            td.checkbox { }
        }
        .wiki {
            h1 {
                &:first-child { }
            }
            h2 { }
        }
    }
    &#version-summary {
        fieldset {
            &.time-tracking table { }
        }
        th { }
        td.total-hours { }
    }
    &.tab-content {
        fieldset > legend {
            margin-bottom : 0;
            border        : none;
        }
    }
    &#tab-content-members {
        .splitcontentleft { }
        .splitcontentright { }
        fieldset {
            label { }
            legend { }
            div { }
        }
    }
    &#tab-content-membership {
        .splitcontentleft { }
        .splitcontentright { }
        fieldset {
            label { }
            legend { }
            div { }
        }
    }
    &#tab-content-users {
        .splitcontentleft { }
        .splitcontentright { }
        fieldset {
            label { }
            legend { }
            div { }
        }
    }
}
body.controller-versions.action-show div#roadmap .related-issues { }

ul {
    &.projects {
        padding-left : 1em;
        ul { padding-left : 1.6em; }
        &.root {
            margin  : 0;
            padding : 0;
        }
        li { list-style : none; }
    }
    &.properties {
        li {
            span { }
        }
    }
}

#projects-index {
    ul.projects {
        ul.projects {
            padding-left : 1em;
            border-left  : @ah_lbeige solid 3px;
        }
        li {
            &.root { margin-bottom : 1em; }
            &.child { margin-top : 1em; }
        }
        div.root a.project {
            font-size   : 1.2em;
            font-weight : bold;
        }
    }
}
.my-project {
    padding-left : 21px;
    background   : url(../img/icons/fav.png) no-repeat 0 50%;
}
#notified-projects ul { }
#tracker_project_ids ul { }

.total-hours {
    span.hours-int { }
}

.autoscroll { overflow-x : auto; }

button {
    &.tab-left, &.tab-right {
        background-repeat : no-repeat;
        height            : 30px;
    }
    &.tab-left, &.tab-left:hover {
        background-image    : url("../img/icons/bullet_arrow_left.png");
        background-position : 50% 50%;
    }
    &.tab-right, &.tab-right:hover {
        background-image    : url("../img/icons/bullet_arrow_right.png");
        background-position : 50% 50%;
    }
}

form {
    .attributes {
        select { }
    }
}
fieldset {
    &.collapsible {
        &.collapsed legend { background-image : url("../img/icons/bullet_toggle_plus.png"); }
        legend {
            background    : transparent url("../img/icons/bullet_toggle_minus.png") right 40% no-repeat;
            cursor        : pointer;
            margin-bottom : 1em;
            & + div {
                margin-top : 1em;
                display    : inline-block;
            }
        }
    }
    &.settings {
        label { }
    }
    &#notified_events {
        br { display : none; }
        .parent { padding-left : 2em; }
        p { margin : 1em auto; }
    }
    &#date-range p { }
    &#filters {
        table {
            border-collapse : collapse;
            td { vertical-align : middle;
                td { padding : 0 1em 0 0; }
            }
        }
        tr {
            &.filter { height : 40px; }
        }
        td {
            input, label { display : inline; }
            &.field {
                input[type="checkbox"] { margin : -3px 5px 0 0; }
            }
            &.operator { }
            &.values {
                white-space : nowrap;
                select { }
                input { }
            }
            &.add-filter {
                text-align     : right;
                vertical-align : top;
                label { margin-right : 1em; }
            }
        }
    }
}
input {
    &#openid_url { background : #fff url('../img/icons/openid-bg.gif') 0 50% no-repeat; }
    &#issue-object { }
    &#content_comments { }
    &#time_entry_comments { }
    &#principal_search,
    &#user_search {
        background   : url(../img/icons/magnifier.png) no-repeat 2px 50%;
        padding-left : 20px;
        &.ajax-loading {
            background-image : url("../img/icons/loading.gif");
        }
    }
    &.hasDatepicker { width : 90px; /* same as .input-small */ }
    &[type="checkbox"] {
        margin : 0 5px 4px 0;
    }
}
select {
    width     : auto;
    font-size : .9em;
    &#issue_done_ratio { }
}
textarea {
    &.wiki-edit {
        width  : 98%;
        resize : vertical; }
    &.text_cf { }
    &#custom_field_possible_values { }
}

#user_login { }
#user_firstname { }
#user_lastname { }
#user_mail { }
#my_account_form select { }
#user_form select { }
#user_identity_url { }
#workflow_copy_form select { }
.tabular {
    p {
        padding-left : 30%;
        clear        : left;
    }
    label {
        width       : 30%;
        float       : left;
        text-align  : right;
        margin-left : -32%;
        &.floating {
            margin-left : 0;
            text-align  : left;
        }
        &.block {
            text-align  : left;
            float       : none;
            display     : block;
            width       : auto;
            margin-left : 0;
        }
        &.inline {
            float       : none;
            width       : auto;
            margin-left : 5px !important;
        }
    }
    &.settings {
        p { }
        &.label { }
        &.textarea { }
    }
}
html>body .tabular p { overflow : hidden; }

label {
    &.no-css { }
}

#preview fieldset {
    margin-top : 1em; background : url(../img/icons/draft.png);
}

.settings {
    &.enabled_scm {
        table { }
        td.scm_name { }
    }
}

span.required { color : @red; }
.summary { font-style : italic; }

#attachments_fields {
    input.description { }
    span { }
    img { }
}
.other-formats span + span:before { content : " | "; }

#errorExplanation {
    padding          : 1em 1em 1em 40px;
    background       : url(../img/icons/exclamation.png) 15px 50% no-repeat;
    color            : @errorText;
    background-color : @errorBackground;
    border-color     : @errorBorder;
    ul { }
    h2 { }
    p { }
}
.nodata, .warning {
    color            : @warningText;
    background-color : @warningBackground;
    border-color     : @warningBorder;
    padding          : 1em;
    margin           : 1em auto;
}
.conflict-details { }

#ajax-indicator {
    position         : fixed;
    background-color : @grayLighter;
    border           : 1px solid @grayLight;
    top              : 35%;
    left             : 40%;
    width            : 20%;
    font-weight      : bold;
    text-align       : center;
    padding          : 0.6em;
    z-index          : 100;
    opacity          : 0.5;
    span {
        background     : transparent url("../img/icons/loading.gif") 0 40% no-repeat;
        padding-left   : 26px;
        vertical-align : bottom;
    }
}

.tooltip {
    &:hover { }
    span.tip { }
}

img.ui-datepicker-trigger {
    cursor         : pointer;
    vertical-align : middle;
    margin-left    : 4px;
}

#roadmap table.progress td { }

.diff_out {
    span { }
}
.diff_in {
    span { }
}
.text-diff { }

.block-receiver {
    border        : @ah_lblue dashed 1px;
    margin-bottom : 2em;
}
.mypage-box {
    margin-bottom : 2em;
    color         : @grayDark;
    line-height   : 1.5em;
}
.handle { cursor : move; }

.gantt_hdr { }
.gantt_subjects {
    div { }
}
.task {
    &.label {
        &.project { }
        &.version { }
    }
    &.parent {
        &.marker {
            &.starting, &.ending {
                position    : absolute;
                background  : url(../img/icons/task_parent_end.png) no-repeat 0 0;
                width       : 8px;
                height      : 16px;
                margin-left : -4px;
                left        : 0px;
                top         : -1px;
            }
        }
    }
}
.task_late {
    background-color : @red;
    background-image : url("../img/icons/task_late.png");
    border           : 1px solid @red;
    &.parent { }
}
.task_done {
    background-color : @green;
    background-image : url("../img/icons/task_done.png");
    border           : 1px solid @green;
    &.parent { }
}
.task_todo {
    background-color : @grayLighter;
    background-image : url("../img/icons/task_todo.png");
    border           : 1px solid @grayLighter;
    &.parent {
        background-color : @grayLight;
        border-color     : @grayLight;
    }
}

.version, .project {
    &.task_late {
        background-color : @red;
        background-image : url("../img/icons/milestone_late.png");
        border           : 1px solid @red;
        height           : 2px;
        margin-top       : 3px;
    }
    &.task_done {
        background-color : @green;
        background-image : url("../img/icons/milestone_done.png");
        border           : 1px solid @green;
        height           : 2px;
        margin-top       : 3px;
    }
    &.task_todo {
        background-color : @white;
        background-image : url("../img/icons/milestone_todo.png");
        border           : 1px solid @white;
        height           : 2px;
        margin-top       : 3px;
    }
    &.marker {
        background-image  : url("../img/icons/version_marker.png");
        background-repeat : no-repeat;
        border            : 0;
        margin-left       : -4px;
        margin-top        : 1px;
    }
}

.version-behind-schedule a,
.issue-behind-schedule a { color : @orange; }

.version-overdue a,
.issue-overdue a,
.project-overdue a { color : @red; }

.action-projects #content form,
.controller-users #content form {
    label {
        padding-top : 1em;
        display     : inline-block;
    }
    select#status, select#group_id { margin-right : 2em; }
}

span.btn-danger a {
    color : @white;
    &:hover {
        text-decoration : none;
        color           : @white;
    }
}

.icon {
    background-position : 0% 50%;
    background-repeat   : no-repeat;
    padding-left        : 20px;
    padding-top         : 2px;
    padding-bottom      : 3px;
    display             : inline;
}

.icon-add { background-image : url(../img/icons/add.png); }
.icon-edit { background-image : url(../img/icons/edit.png); }
.icon-copy { background-image : url(../img/icons/copy.png); }
.icon-duplicate { background-image : url(../img/icons/duplicate.png); }
.icon-del { background-image : url(../img/icons/delete.png); }
.icon-move { background-image : url(../img/icons/move.png); }
.icon-save { background-image : url(../img/icons/save.png); }
.icon-cancel { background-image : url(../img/icons/cancel.png); }
.icon-multiple { background-image : url(../img/icons/table_multiple.png); }
.icon-folder { background-image : url(../img/icons/folder.png); }
.open .icon-folder { background-image : url(../img/icons/folder_open.png); }
.icon-package { background-image : url(../img/icons/package.png); }
.icon-user { background-image : url(../img/icons/user.png); }
.icon-projects { background-image : url(../img/icons/projects.png); }
.icon-help { background-image : url(../img/icons/help.png); }
.icon-attachment { background-image : url(../img/icons/attachment.png); }
.icon-history { background-image : url(../img/icons/history.png); }
.icon-time { background-image : url(../img/icons/time.png); }
.icon-time-add { background-image : url(../img/icons/time_add.png); }
.icon-stats { background-image : url(../img/icons/stats.png); }
.icon-warning { background-image : url(../img/icons/warning.png); }
.icon-fav { background-image : url(../img/icons/fav.png); }
.icon-fav-off { background-image : url(../img/icons/fav_off.png); }
.icon-reload { background-image : url(../img/icons/reload.png); }
.icon-lock { background-image : url(../img/icons/locked.png); }
.icon-unlock { background-image : url(../img/icons/unlock.png); }
.icon-checked { background-image : url(../img/icons/true.png); }
.icon-details { background-image : url(../img/icons/zoom_in.png); }
.icon-report { background-image : url(../img/icons/report.png); }
.icon-comment { background-image : url(../img/icons/comment.png); }
.icon-summary { background-image : url(../img/icons/lightning.png); }
.icon-server-authentication { background-image : url(../img/icons/server_key.png); }
.icon-issue { background-image : url(../img/icons/ticket.png); }
.icon-zoom-in { background-image : url(../img/icons/zoom_in.png); }
.icon-zoom-out { background-image : url(../img/icons/zoom_out.png); }
.icon-passwd { background-image : url(../img/icons/textfield_key.png); }
.icon-test { background-image : url(../img/icons/bullet_go.png); }
.icon-file {
    background-image : url(../img/icons/files/default.png);
    &.text-plain { background-image : url(../img/icons/files/text.png); }
    &.text-x-c { background-image : url(../img/icons/files/c.png); }
    &.text-x-csharp { background-image : url(../img/icons/files/csharp.png); }
    &.text-x-java { background-image : url(../img/icons/files/java.png); }
    &.text-x-javascript { background-image : url(../img/icons/files/js.png); }
    &.text-x-php { background-image : url(../img/icons/files/php.png); }
    &.text-x-ruby { background-image : url(../img/icons/files/ruby.png); }
    &.text-xml { background-image : url(../img/icons/files/xml.png); }
    &.text-css { background-image : url(../img/icons/files/css.png); }
    &.text-html { background-image : url(../img/icons/files/html.png); }
    &.image-gif { background-image : url(../img/icons/files/image.png); }
    &.image-jpeg { background-image : url(../img/icons/files/image.png); }
    &.image-png { background-image : url(../img/icons/files/image.png); }
    &.image-tiff { background-image : url(../img/icons/files/image.png); }
    &.application-pdf { background-image : url(../img/icons/files/pdf.png); }
    &.application-zip { background-image : url(../img/icons/files/zip.png); }
    &.application-x-gzip { background-image : url(../img/icons/files/zip.png);
    }
}
.icon-gravatar { }

img.gravatar {
    padding          : 2px;
    border           : solid 1px @grayLighter;
    background-color : @white;
    vertical-align   : middle;
}

.hascontextmenu { cursor : context-menu; }
tr.context-menu-selection td { background-color : @ah_blue !important; }

.syntaxhl {
    div { display : inline; }
    .line.numbers {
        padding          : 2px 4px;
        background-color : @grayLighter;
        margin           : 0 5px 0 0;
    }
    .code pre { overflow : auto; }
    .debug {
        color      : @white !important;
        background : @blue !important;
    }
    .annotation { color : #007; }
    .attribute-name { color : #b48; }
    .attribute-value { color : #700; }
    .binary { color : #509; }
    .char { color : #D20;
        .content { color : #D20; }
        .delimiter { color : #710; }
    }
    .class { color : #258; font-weight : bold; }
    .class-variable { color : #369; }
    .color { color : #0A0; }
    .comment { color : #385;
        .char, .delimiter { color : #385; }
    }
    .complex { color : #A08; }
    .constant { color : #258; font-weight : bold; }
    .decorator { color : #B0B; }
    .definition { color : #099; font-weight : bold; }
    .delimiter { color : #000; }
    .directive { color : #088; font-weight : bold; }
    .doc { color : #970; }
    .doc-string { color : #D42; font-weight : bold; }
    .doctype { color : #34b; }
    .entity { color : #800; font-weight : bold; }
    .error { color : #F00; background-color : #FAA; }
    .escape { color : #666; }
    .exception { color : #C00; font-weight : bold; }
    .float { color : #06D; }
    .function { color : #06B; font-weight : bold }
    .global-variable { color : #d70; }
    .hex { color : #02b; }
    .imaginary { color : #f00; }
    .include { color : #B44; font-weight : bold; }
    .inline { background-color : hsla(0, 0%, 0%, 0.07); color : #000; }
    .inline-delimiter { font-weight : bold; color : #666; }
    .instance-variable { color : #33B; }
    .integer { color : #06D; }
    .key { color : #606;
        .char { color : #60f; }
        .delimiter { color : #404; }
    }
    .keyword { color : #939; font-weight : bold; }
    .label { color : #970; font-weight : bold; }
    .local-variable { color : #963 }
    .namespace { color : #707; font-weight : bold; }
    .octal { color : #40E; }
    .operator { }
    .predefined { color : #369; font-weight : bold; }
    .predefined-constant { color : #069; }
    .predefined-type { color : #0a5; font-weight : bold; }
    .preprocessor { color : #579; }
    .pseudo-class { color : #00C; font-weight : bold; }
    .regexp { background-color : hsla(300, 100%, 50%, 0.06);
        .content { color : #808; }
        .delimiter { color : #404; }
        .modifier { color : #C2C; }
    }
    .reserved { color : #080; font-weight : bold; }
    .shell {
        background-color : hsla(120, 100%, 50%, 0.06);
        .content { color : #2B2; }
        .delimiter { color : #161; }
    }
    .string {
        color : #46a;
        .char, .content, .delimiter, .modifier { color : #46a; }
    }
    .symbol {
        color : #d33;
        .content, .delimiter { color : #d33 }
    }
    .tag { color : #070; }
    .type { color : #339; font-weight : bold; }
    .value { color : #088; }
    .variable { color : #037; }

    .insert {
        background : hsla(120, 100%, 50%, 0.12);
        .eyecatcher {
            background-color           : hsla(120, 100%, 50%, 0.2);
            border                     : 1px solid hsla(120, 100%, 25%, 0.5);
            margin                     : -1px;
            border-top                 : none;
            border-bottom-left-radius  : 5px;
            border-bottom-right-radius : 5px;
        }
        .insert {
            color       : #0c0;
            background  : transparent;
            font-weight : bold;
        }
    }
    .delete {
        background : hsla(0, 100%, 50%, 0.12);
        .eyecatcher {
            background-color        : hsla(0, 100%, 50%, 0.2);
            border                  : 1px solid hsla(0, 100%, 45%, 0.5);
            margin                  : -1px;
            border-bottom           : none;
            border-top-left-radius  : 5px;
            border-top-right-radius : 5px;
        }
        .delete {
            color       : #c00;
            background  : transparent;
            font-weight : bold;
        }
    }
    .change {
        color      : #bbf;
        background : #007;
        .change { color : #88f; }
    }
    .head {
        color      : #f8f;
        background : #505;
        .filename { color : #fff; }
        .head { color : #f4f; }
    }
}

.hidden-for-sighted {
    position : absolute;
    left     : -10000px;
    top      : auto;
    width    : 1px;
    height   : 1px;
    overflow : hidden;
}

/***** Media Queries ****/
@media (max-width: 767px) {
}

@media (max-width: 768px) {
    #top-menu {
        a.brand { margin : 6px auto; }
        .btn-navbar { margin-right : 10px; }
    }

    #header, #footer {
    }

    #main {
        margin-right : -20px;
        margin-left  : -20px;
    }

    #main-menu {
        position           : static;
        top                : auto;
        z-index            : auto;
        width              : auto;
        height             : auto;
        -webkit-box-shadow : none;
        -moz-box-shadow    : none;
        box-shadow         : none;
        & .nav {
            .border-radius(4px);
            background : @white; /* whole background property since we use a background-image for gradient */
            border     : 1px solid #e5e5e5;
            & > li { float : none;
                & > a {
                    border : 0;
                    .border-radius(0);
                    margin : 0;
                }
                & + li > a { border-top : 1px solid #e5e5e5; }
                &:first-child > a,
                &:first-child > a:hover {
                    .border-radius(4px 4px 0 0);
                }
                &:last-child > a,
                &:last-child > a:hover {
                    .border-radius(0 0 4px 4px);
                }
            }
        }
    }
}

@media (max-width: 979px) {
    #top-menu { margin-bottom : 0; }
}

@media (min-width: 980px) {
    #header { margin-top : 34px; /* same as top-menu */ }
}

@media print {
    #top-menu, #header, #main-menu, #sidebar, #footer, .contextual, .other-formats { display : none; }
    #main { background : #fff; }
    #content { width : 99%; margin : 0; padding : 0; border : 0; background : #fff; overflow : visible !important; }
    #wiki_add_attachment { display : none; }
    .hide-when-print { display : none; }
    .autoscroll { overflow-x : visible; }
    table.list { margin-top : 0.5em; }
    table.list th, table.list td { border : 1px solid #aaa; }
}